.blog-posts {
    margin-left: 35vw;
    display: flex;
    flex-direction: column;
}

.blog-posts h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
    font-family: Arial, Helvetica, sans-serif;
}

.blog-posts ul {
    list-style-type: none;
    padding: 0;
}

.blog-posts li {
    width: 800px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
        transition: all 0.2s ease-in-out;
    }
}