.home-page {
    position: relative;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.hero-section-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font: 2rem 'Montserrat', sans-serif;
}

.hero-section-home h1 {
    font-size: 3rem;
}

/*-------------------------------------------------------------------------------------------------------------*/
.landing-page {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 20vh;
}

.landing-page h1 {
    font: 3rem 'Montserrat', sans-serif;
    border-bottom: 1px solid #707070;
}

.landing-page p {
    font: 1.3rem 'Montserrat', sans-serif;
    line-height: 1.5;
    letter-spacing: 1.1px;
}

.landing-page-images img {
    width: 590px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

/*-------------------------------------------------------------------------------------------------------------*/
.about-us {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 35vh;
}

.about-us h1 {
    font: 3rem 'Montserrat', sans-serif;
    border-bottom: 1px solid #707070;
    text-align: right;
}

.about-us p {
    font: 1.3rem 'Montserrat', sans-serif;
    line-height: 1.5;
    letter-spacing: 1.1px;
}

@media only screen and (max-width: 1550px) {
    .hero-section-home {
        justify-content: flex-start;
        font: 1rem 'Montserrat', sans-serif;
    }
}