video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-section-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font: 2rem 'Montserrat', sans-serif;
}

.hero-section-home h1 {
    font-size: 3rem;
}

@media only screen and (max-width: 1375px) {
    .hero-section-home {
        justify-content: flex-start;
        font: 1rem 'Montserrat', sans-serif;
    }
}